.darkmode {
    color: aliceblue;
    background-color: black;
    border-color: aliceblue;
}
.lightmode {
    color: black;
    background-color: white;
    border-color: black;
}

.darkmode .logo {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(299deg) brightness(104%) contrast(103%);
}

.lightmode .logo

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, 
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        Fira Sans,
        Droid Sans,
        Helvetica Neue,
        sans-serif;
}
* {
    box-sizing: border-box;
}