.navbar {
    overflow: hidden;
    background-color: rgb(22, 22, 22);
    position: fixed;
    top: 0%;
    width: 60%;
    left: 20%;
    border-radius: 8.5px;
  }

.navbar a {
    display: inline-table;
    color: aliceblue;
    font-size: large;
    padding: 12px;
}
.navbar a:hover {
    background-color: rgb(37, 37, 37);
    color: aliceblue;
    font-weight: bold;
}
.navbar .nav-link-webmail {
    float: right;
}